<!DOCTYPE html>
<!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Cadastro de Pedidos</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        </link>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
        <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>     
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js'></script>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Cadastro de Pedidos</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${pedido}" th:action="@{/pedido/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2" th:classappend="${#fields.hasErrors('dataPedido')}? 'has-error'">
                                    <label>Data do pedido</label>
                                    <div class="input-group date" id='datetimepicker1'>
                                        <input type="text" id="dataPedido" name="dataPedido"
                                            class="form-control"
                                            th:field="*{dataPedido}"
                                            autofocus="autofocus" 
                                            placeholder="Informe a data do pedido" maxlength="50" required="true"/>
                                        <div class="input-group-addon" >
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label>Cliente</label> 
                                    <select class="form-control" th:field="*{pessoa}" id="pessoa" required="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1" th:classappend="${#fields.hasErrors('total')}? 'has-error'">
                                    <label>Total</label>
                                    <input type="text" class="form-control input-sm" th:field="*{total}" autofocus="autofocus" placeholder="0" maxlength="50" disabled="true"/>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                        <a th:href="@{/pedido}" class="btn btn-sm btn-default">Cancelar</a>
                    </div>
                </form>
                
                
                
                <form class="form-horizontal" action="#" th:action="@{/pedido/{id}/itens/add (id=${pedido.id})}"
                    th:object="${item}" method="POST">
                    <div th:if="${pedido.id != null}" class="panel panel-default" >
                        <div class="panel-heading">Itens do pedido</div>
                        <div class="panel-body">
                            <div class="row" style="margin-bottom: 10px">
                                
                                <div class="col-sm-8">
                                    <label>Produto</label>
                                    <select id="produto" class="selectOneMenu form-control input-sm" data-live-search="true"
                                            th:field="*{produto}">
                                        <option th:each="i : ${produtos}"
                                                th:value="${i.id}"
                                                th:text="${i.nome}">
                                        </option>
                                    </select>
                                    <br>
                                    
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <label>Quantidade</label>
                                            <input type="text" class="form-control input-sm" th:field="*{quantidade}" autofocus="autofocus" placeholder="Informe a quantidade" maxlength="50" required="true"/>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <label>Valor unitário</label>
                                            <input type="text" class="form-control input-sm" th:field="*{valorUnitario}" autofocus="autofocus" placeholder="Informe a quantidade" maxlength="50" required="true"/>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <button style="width:100%" type="submit" class="btn btn-success btn-md">
                                                <i class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></i>
                                                Adicionar Item
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                         
                            
                            <table class="table table-striped table-bordered" style="width:100%" id="detalhe">
                                <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                    <th>Total</th>
                                    <th align="center" style="width: 45px; min-width: 45px">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${pedido.ItensPedido}">
                                    <td th:text="${item.produto.id + ' - ' + item.produto.nome}"></td>
                                    <td th:text="${item.quantidade}"></td>
                                    <td th:text="${item.valorUnitario}"></td>
                                    <td th:text="${item.total}"></td>
                                    <td align="center">
                                        <div class="btn-group">
                                            <a class="btn btn-danger btn-xs"
                                               th:href="@{pedido/{idpedido}/itens/delete/{iditem} (idpedido=${pedido.id}, iditem=${item.id})}">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
              </form>
            </div>
        </div>
    </body>
</html>